appdirs==1.4.3
click==6.7
Flask==0.12.1
Flask-MySQL==1.4.0
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
packaging==16.8
PyMySQL==0.7.11
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.12.1
