<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Recipe Recommendation System</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/recipe21.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/image_click8.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/ie-emulation-modes-warning.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Health Ninja</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a onclick="document.getElementById('Choose Flavor').style.display='block'" class="w3-button">Choose Flavor</a></li>
            <li><a onclick="document.getElementById('Fill in Personal Information').style.display='block'" class="w3-button">Fill in Personal Information</a></li>
            <li><a onclick="document.getElementById('contact').style.display='block'" class="w3-button">contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="bgimg w3-display-container w3-text-white">
      <div class="w3-display-middle w3-jumbo">
        <p>Health Ninja</p>
      </div>

      <div class="w3-display-topleft w3-container w3-xlarge">
          <p><button onclick="document.getElementById('Choose Flavor').style.display='block'" class="w3-button w3-black">Choose Flavor</button></p>

      </div>

      <div class="w3-display-bottomleft w3-container">
        <p class="w3-xlarge">monday - friday 10-23 | saturday 14-02</p>
        <p class="w3-large">Georgia Tech, Atlanta</p>
        <p>powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>
      <div class="section center">
            <div class="section_title" style="text-indent: 100px; font-weight: bold; color: white;">
                <p>Choose your favorite flavor</p>
            </div>
            <form>
                <div class="cc-selector">
                  <div class="input-group">
                    <div class="ninegrids_left"></div>
                    <div class="ninegrids">
                    <input id="visa" type="radio" name="flavor_choose" value="visa" />
                    <label class="drinkcard-cc visa" for="visa"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="mastercard" type="radio" name="flavor_choose" value="mastercard" />
                    <label class="drinkcard-cc mastercard" for="mastercard"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="backtop" type="radio" name="flavor_choose" value="backtop" />
                    <label class="drinkcard-cc backtop" for="backtop"></label>
                    </div>

                    <div class="ninegrids_left"></div>
                    <div class="ninegrids">
                    <input id="chicken" type="radio" name="flavor_choose" value="chicken" />
                    <label class="drinkcard-cc chicken" for="chicken"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="pork" type="radio" name="flavor_choose" value="pork" />
                    <label class="drinkcard-cc pork" for="pork"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="fish" type="radio" name="flavor_choose" value="fish" />
                    <label class="drinkcard-cc fish" for="fish"></label>
                    </div>

                    <div class="ninegrids_left"></div>
                    <div class="ninegrids">
                    <input id="oil" type="radio" name="flavor_choose" value="oil" />
                    <label class="drinkcard-cc oil" for="oil"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="vegetable" type="radio" name="flavor_choose" value="vegetable" />
                    <label class="drinkcard-cc vegetable" for="vegetable"></label>
                    </div>
                    <div class="ninegrids">
                    <input id="salt" type="radio" name="flavor_choose" value="salt" />
                    <label class="drinkcard-cc salt" for="salt"></label>
                    </div>
                  </div>
                </div>

                <div class="section_title div-center" style="text-indent: 100px; font-weight: bold; color: white;">
                <p >Fill in Your Personal Info</p>
                </div>
                <p>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="Height(cm)" aria-describedby="basic-addon1" required>
                </div>
                </p>
                <p>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="Weight(kg)" aria-describedby="basic-addon1" required>
                </div>
                </p>
                <p>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="Age" aria-describedby="basic-addon1" required>
                </div>
                </p>

                <div class="form-group">
                  <select class="form-control" id="sel1">
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>


                <p><div class="div-center"><input class="btn btn-primary" type="submit" name="action" value="Get Recommendation" /></div></p>
            </form>
          <div class="ninegrids_bottom"></div>
        </div>
    </div>

<!-- Fill in Personal Information Modal -->
<div id="Fill in Personal Information" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <span onclick="document.getElementById('Fill in Personal Information').style.display='none'" class="w3-button w3-display-topright w3-black">x</span>
      <div class="w3-quarter">
      <!-- <div class="round-button"><div class="round-button-circle"><a href="http://example.com" class="round-button">Button!!</a></div></div> -->
        <img src="{{ url_for('static', filename='height.svg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity" color = "w3-text-white">
        <h3 style="font-weight: bold">Height</h3>
        <p></p>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-animate-input" type="text" placeholder="Weight" style="width:30%" required name="Weight"></p>
      </div>

      <div class="w3-quarter">
        <img src="{{ url_for('static', filename='weight.svg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3 style="font-weight: bold">Weight(kg)</h3>
        <p></p>
        <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-animate-input" type="text" placeholder="Weight" style="width:30%" required name="Weight"></p>

      </div>

      <div class="w3-quarter">
        <img src="{{ url_for('static', filename='age.svg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3 style="font-weight: bold">Age</h3>
        <p></p>
        <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-animate-input" type="text" placeholder="Weight" style="width:30%" required name="Weight"></p>
        </div>

      <div class="w3-quarter">
        <img src="{{ url_for('static', filename='meal.svg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
        <h3 style="font-weight: bold">Meal of the Day</h3>
        <p></p>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-animate-input" type="text" placeholder="Weight" style="width:30%" required name="Weight"></p>
        </div>
    </div>
  </div>


<!-- Contact Modal -->
<div id="contact" class="w3-modal">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-black">
      <span onclick="document.getElementById('contact').style.display='none'" class="w3-button w3-display-topright w3-black">x</span>
      <!-- <h1>Contact</h1> -->
    </div>
    <div class="w3-container">
      <p>Reserve a table, ask for today's special or just send us a message:</p>
      <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required name="People"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
        <p><button class="w3-button" type="submit">SEND MESSAGE</button></p>
      </form>
    </div>
  </div>
</div>

</body>
</html>